<div class="row">
    
  <form class="col s6 offset-s3" style="margin-bottom: 50px">
    <h4>Add a new party</h4>
    <div class="row">
      <div class="input-field col s12 m6">
        <input ng-model="newParty.name" id="name" type="text" class="validate">
        <label for="name">Name</label>
      </div>
      <div class="input-field col s12 m6">
        <input ng-model="newParty.description" id="description" type="text" class="validate">
        <label for="description">Description</label>
      </div>
    </div>
    <a class="waves-effect waves-light btn" ng-click="add(newParty)"><i class="material-icons left">playlist_add</i>Add</a>
  </form>
  
  <section class="parties col s8 offset-s2">
    <h4>Nearest Parties</h4>
    <ul class="collection">
      <li class="collection-item avatar" ng-repeat="party in parties">
        <i class="material-icons circle red lighten-3">album</i>
        <a ui-sref="partyDetails({partyId: party._id})" class="title">{{party.name}}</a>
        <p>{{party.description}}</p>
        <a class="secondary-content waves-effect waves-light btn" ng-click="remove(party)"><i class="material-icons">info_outline</i></a>
      </li>
    </ul>
    <a class="waves-efect waves-light btn" ng-click="removeAll()"><i class="material-icons left">clear_all</i>Clear parties</a>
  </section>

</div>